.review {
    border: 2px solid rgb(241, 243, 248);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.review img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}