.home {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    gap: 40px;
    margin-top: 50px;
}

.home img {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
}

.button {
    background-color: rgb(12, 30, 77);
    font-weight: bolder;
}

.button:hover {
    color: rgb(12, 30, 77);
    background-color: #FFF;
    border: 2px solid rgb(12, 30, 77);

}

.product-detail {
    align-items: center;
    margin-top: 80px;
}

.review-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
    background-color: rgb(15, 26, 76);
    color: #FFF;
    padding: 30px
}